
body {
  width: 90%;
}

header {
  width: 96%;
  background-color: lightgray;
  margin: 1% auto;
  border: 1px solid blue;
  padding: 2% 2%;
}

header > h1 {
  text-align: center;
}

 .column-1, .column-2 {
   width: 45% ;
   display: table-cell;
   vertical-align: top;
   padding: 2%;
   margin-right: 3%;

   border: 1px solid black;
   
 }
.column-1 {
  background-color: tan;
   }

.column-2 { 
background-color: gray;
}

article>h2 {
  font-family: cursive;
}